* {
  margin: 0
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background:linear-gradient(
    #70e1f5,
    #ffd194);
}

.container h1 {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  margin: 20px;
}

.registartion-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  color: #373434;
  font-size: 18px;
  font-family: sans-serif;
  background:linear-gradient(
   

  #2bc0e4,
  #eaecc6);
  padding: 40px;
  border-radius: 1em;
  border-width: 3px;
  border-style: solid;
  box-shadow:0 -3em -3em;

}


.registartion-form input,
.registartion-form select,
.registartion-form textarea {
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-family: sans-serif;
  border-radius: 5px;
}

.registartion-form .submit {
  width: 100%;
  padding: 8px 0;
  font-size: 20px;
  color: #000000;
  background:linear-gradient( #70e1f5,
  #ffd194);
  border-radius: 5px;
}
.submit:hover{
  background-color: #000000;
}

.registartion-form .submit:hover {
  box-shadow:rgb(0, 0, 0);
}